{% extends "main.html" %}
{% block title %}#{{ pr.number }} - {{ pr.title }}{% endblock %}
{% block content %}
<section>
    <a href="/artiweb">Artiweb</a> > <a href="/artiweb/{{pr.number}}">Pull Request #{{ pr.number }}</a> > <span>Artifact {{artifact.id}}</span>
    <h1>{{ pr.title  }} <span class="color-muted">#{{ pr.number }}</span></h1>
    <span>Build time: {{artifact.created_at_pretty}}</span><br>
    <a href="https://github.com/KeYProject/key/actions/runs/{{artifact.workflow_run.id}}">Github Action</a><br>
</section>

<section>
    <h3>Tests</h3>
    <ul>
        {%- for test in artifact.tests -%}
            <li>
                {%- if test.green -%}✅ {% else -%}❌ {% endif -%}
                {%- if test.report_path -%}
                    <a href="{{test.report_path}}">{{test.full_name}}</a>
                {%- else -%}
                    {{test.full_name}} [no report files]
                {%- endif %} ({{test.statistics.success}} succeeded
                {%- if test.statistics.failures > 0 %}, {{ test.statistics.failures }} failed{% endif -%}
                {%- if test.statistics.skipped > 0 %}, {{ test.statistics.skipped }} skipped{% endif -%}
                {%- if test.statistics.errors > 0 %}, {{ test.statistics.errors }} errors{% endif -%})
            </li>
        {%- endfor -%}
    </ul>
</section>
{%- endblock %}
