{% extends "main.html" %}
{% block title %}Artiweb{% endblock %}
{% block content %}
<h1>Artiweb</h1>
<p class="important">
    Welcome to artiweb.
</p>
<ul>
    <li><a href="#pr-open">Open pull requests</a></li>
    <li><a href="#pr-closed">Closed pull requests</a></li>
    <li><a href="#graphs">Runtime graphs</a></li>
</ul>
{% macro pullRequestLink(pr) -%}
    <a href="{{pr.number}}">[#{{pr.number}}] {{pr.title}}</a>
{%- endmacro %}

<section id="pr-open">
    <h3>Open pull requests</h3>
    <ul>
        {%- for pr in pullrequests | reverse -%}
            {%- if pr.state == "open" -%}
                <li>{{ pullRequestLink(pr) }}</li>
            {%- endif -%}
        {%- endfor -%}
    </ul>
</section>

<section id="pr-closed">
    <h3>Closed pull requests</h3>
    <ul>
        {%- for pr in pullrequests | reverse -%}
            {%- if pr.state != "open" -%}
                <li>{{ pullRequestLink(pr) }}</li>
            {%- endif -%}
        {%- endfor -%}
    </ul>
</section>

<section id="graphs">
    <h3>Graphs</h3>
    {%- for g in graphs -%}
        <h4>{{ g.name }}</h4>
        <div style="height:10em;"><canvas id="{{ g.name }}"></canvas></div>   
    {%- endfor -%}
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
        function formatLabel(context) {
            let label = context.dataset.label || '';
            if (label) {
                label += ': ';
            }
            const value = context.raw;
            let format;
            if (value == 0) {
                format = "0s";
            } else if (value < 3) {
                format = Math.round(value * 1000) + "ms";
            } else if (value < 120) {
                format = Math.round(value) + "s";
            } else {
                format = "";
                let remainder = value;
                if (remainder > 3600) {
                    const hours = Math.floor(remainder / 3600);
                    remainder = remainder % 3600;
                    format += hours + "h ";
                }
                
                if (remainder > 60) {
                    const minutes = Math.floor(remainder / 60);
                    remainder = remainder % 60;
                    format += minutes + "m ";
                }
                
                const seconds = Math.round(remainder);
                format += seconds + "s";
            }
            return label + format;
        }

        function createChart(g) {
            const ctx = document.getElementById(g.name);
            const graph = {
                type: 'bar',
                data: {
                    labels: g.labels,
                    datasets: [
                        {
                            label: "Succeded",
                            data: g.succeded,
                            borderWidth: 1
                        },
                        {
                            label: "Failed",
                            data: g.failed,
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            };
            graph.options.plugins = {
                tooltip: {
                    callbacks: {
                        label: formatLabel
                    }
                }
            };
            new Chart(ctx, graph);
        }

        {% for g in graphs -%}
        createChart({{g|tojson}});
        {% endfor -%}
    </script>
</section>


{% endblock %}