{% extends "main.html" %}
{% block title %}Artiweb{% endblock %}
{% block content %}
<h1>Artiweb</h1>
<p class="important">
    Welcome to artiweb.
</p>

{% macro pullRequestLink(pr) -%}
    <a href="{{pr.number}}">[#{{pr.number}}] {{pr.title}}</a>
{%- endmacro %}

<section>
    <h3>Open pull requests</h3>
    <ul>
        {%- for pr in pullrequests | reverse -%}
            {%- if pr.state == "open" -%}
                <li>{{ pullRequestLink(pr) }}</li>
            {%- endif -%}
        {%- endfor -%}
    </ul>
</section>

<section>
    <h3>Closed pull requests</h3>
    <ul>
        {%- for pr in pullrequests | reverse -%}
            {%- if pr.state != "open" -%}
                <li>{{ pullRequestLink(pr) }}</li>
            {%- endif -%}
        {%- endfor -%}
    </ul>
</section>

<section>
    <h3>Graphs</h3>
    {%- for g in graphs -%}
        <h4>{{ g.name }}</h4>
        <div style="height:10em;"><canvas id="{{ g.name }}"></canvas></div>   
    {%- endfor -%}
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
        {%- for g in graphs -%}
        {
            const ctx = document.getElementById("{{ g.name }}");
            new Chart(ctx, {{g.graph|tojson}});
        }
        {% endfor -%}
    </script>
</section>


{% endblock %}