{% extends "main.html" %}
{% block title %}{{ pr['number'] }} - {{ pr['title']  }}{% endblock %}

{% block content %}


<h1>{{ pr['number'] }} - {{ pr['title']  }}</h1>

<summary>
    <span>Description</span>
<details>
{{pr.body|markdown|safe}}
</details>
</summary>

<a href="{{pr.html_url}}">To Github</a>

<div style="height:10em;"> <canvas id="runtime"></canvas> </div>     
<div style="height:10em;"> <canvas id="testcases"></canvas> </div>     


<ul>
    {% for artifact in artifacts %}
    <li> <a href="/artiweb/{{pr['number']}}/{{ artifact['id'] }}/index.html">{{artifact.created_at}} ({{"%.2f"|format(artifact.size_in_bytes/1024|float)}} kB)</a> </li>
{% endfor %}
</ul>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="/script.js"></script>
<script type="text/javascript">
      const ctx = document.getElementById('runtime');
      new Chart(ctx, {{rtchart|tojson}});

      const ctx2 = document.getElementById('testcases');
      new Chart(ctx2, {{tcchart|tojson}});
</script>


{% endblock %}