{% extends "main.html" %}
{% block title %}#{{ pr.number }} - {{ pr.title  }}{% endblock %}

{% block content -%}

<section>
    <a href="/artiweb">Artiweb</a> > <span>Pull Request #{{ pr.number }}</span>
    <h1>{{ pr.title  }} <span class="color-muted">#{{ pr.number }}</span></h1>
    <summary>
        <p><a href="{{pr.html_url}}">Github</a></p>
        <span>Description</span>
        <details>
            {{- pr.body|markdown|safe -}}
        </details>
    </summary>
</section>

<section>
    <h3>Artifacts</h3>
    <ul>
        {%- for artifact in artifacts|reverse -%}
            <li><a href="{{ artifact.id }}">{{artifact.created_at_pretty}}</a> <small>({{"%.2f"|format(artifact.size_in_bytes/1024|float)}} kB large)</small></li>
        {%- endfor -%}
    </ul>
</section>


<div style="height:10em;"><canvas id="runtime"></canvas></div>     
<div style="height:10em;"><canvas id="testcases"></canvas></div>     

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    function createChart(name, labels, data) {
        const ctx = document.getElementById(name);
        const graph = {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: "Runtime",
                    data: data,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };
        graph.options.plugins = {
            tooltip: {
                callbacks: {
                    label: formatLabel
                }
            }
        };
        new Chart(ctx, graph);
    }

    createChart("runtime", {{rtchart.labels|tojson}}, {{rtchart.data|tojson}});

    const ctx2 = document.getElementById('testcases');
    new Chart(ctx2, {{tcchart|tojson}});
</script>

{%- endblock %}